<!-- Header -->
<ion-header>
  <ion-toolbar color="dark">
    <img class="ms-2 me-2" src="data:image/png;base64,{{ companyInfo.avatar }}" alt="logo" width="30px" height="30px" />
    <ion-title>{{ 'tabPanel.create_appointment' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- End Header -->

<!-- Content -->
<ion-content>
  <div class="main-container">
    <!-- Tab Services -->
    @if (tab == 0) {
    @if (services.length > 0) {
    <!-- Next -->
    <div class="row">
      <div class="col-12 mt-2 text-end">
        <button class="btn btn-primary border-0 mb-2 " style="background-color: #009abe" (click)="next()">{{"global.next" | translate }}</button>
      </div>
    </div>
    @for (service of services; track $index) {
    <div class="card mb-2 border-0">
      <div class="card-body border-0 card-bg">
        <label class="form-check form-check-custom align-items-start" style="cursor: pointer;">
          <input type="checkbox" id="cbx-{{ service.id }}" name="cbx-{{ service.id }}" class="form-check-input me-3"
            data-value="{{ service.id }}" (click)="clickService(service.id)" />
          <div class="d-flex flex-column h-100">
            <div class="mb-7">
              <div class="d-flex flex-stack mb-2">
                <div class="flex-shrink-0 me-5">
                  <span class="text-white font-md" >{{ service.title }}</span>
                </div>
              </div>
              <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                <div class="d-flex align-items-center">
                  <ion-icon name="hourglass-outline" color="primary"></ion-icon>
                  <div class="m-0">
                    <span class="text-white ms-2">{{ service.time }} m</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <ion-icon name="cash-outline" color="success"></ion-icon>
                  <div class="m-0">
                    <span class="text-white ms-2">{{ service.price }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    }
    } @else {
    <!-- Alert Empty Services -->
    <div class="mt-2 ms-2 me-2">
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          {{ 'global.no_services' | translate }}
        </div>
      </div>
    </div>
    }
    }
    <!-- Tab Employee Date Availability -->
    @if (tab == 1) {
      <div class="mt-2 ms-2 me-2">
      <div class="row">
        <div class="col-6 mb-5">
          <button class="btn btn-secondary" (click)="previous()">{{ "global.previous" | translate }}</button>
        </div>
        <div class="col-6 mb-5 text-end">
          <button class="btn btn-primary border-0 ms-1" style="background-color: #009abe" (click)="createAppointment()">{{
            "global.save" |
            translate }}</button>
        </div>
      </div>
      <!-- Employees -->
      <div class="justify-content-center mb-5">
        <div style="overflow-x: scroll; position: relative;">
          <div class="d-flex">
            @for (e of employees; track $index) {
            <button id="emp-{{ e.id }}" class="btn border-0" style="min-width: 100px;" (click)="setEmployee(e.id)">
              @if (e.avatar == "") {
              <img id="avatar-{{ e.id }}" class="avatar" src="../../assets/img/blank.png" alt="Employee Avatar" width="50px"
                style="border-radius: 50%">
              } @else {
              <img id="avatar-{{ e.id }}" class="avatar" src="data:image/png;base64,{{ e.avatar }}" alt="Employee Avatar" width="50px"
                style="border-radius: 50%">
              }
              <br>
              <span class="text-gray-900 font-sm">{{ e.name }}</span>
            </button>
            }
          </div>
        </div>
      </div>
      <!-- Date -->
      <div class="mb-5">
        <ion-datetime presentation="date" [(ngModel)]="date" min="{{ minDate }}" max="{{ maxDate }}" value="{{ date }}" (click)="employeeAvailability()"></ion-datetime>
      </div>
      <!-- Availability -->
      <div class="justify-content-center">
        <div style="overflow-x: scroll; position: relative;">
          <div class="d-flex">
            @for (item of availability; track $index) {
            <button id="time-{{ $index }}" class="times btn btn-lg btn-outline-primary ms-2 me-2" style="padding: 5px !important; min-width: 125px; border-color: #009abe; color: #222428; font-size: 12px;" (click)="setTime(item, $index + 1)">{{ item }}</button>
            }
          </div>
        </div>
        <!-- Alert Empty Aailability -->
        @if (availability.length == 0) {
          <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
              {{ 'global.no_appointments_available' | translate }}
            </div>
          </div>
        }
      </div>
    </div>
    }
  </div>
</ion-content>
<!-- End Content -->

<!-- Tabs Footer -->
<ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button routerLink="/dashboard">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/appointment">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/account">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
