<!-- Header -->
<ion-header>
  <ion-toolbar color="dark">
    <img class="ms-2 me-2" src="data:image/png;base64,{{ companyInfo.avatar }}" alt="logo" width="30px" height="30px" />
    <ion-title>{{ 'tabPanel.appointment' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Button Create  -->
  <div class="text-end ms-2 me-2 mt-2 mb-2">
    <button class="btn btn-primary btn-lg border-0 w-100" style="background-color: #009abe">
      {{'global.btn_create_appointment' | translate }}
    </button>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let app of appointments">
      <div class="card mb-2 ms-2 me-2 border-0" >
        <div class="card-body border-0" style="background-color: #222428; border-radius: 3%;">
          <div class="d-flex flex-column h-100">
            <span class="text-white me-1 pb-1" style="font-size: 15px">
              {{ app.appointmentID }}
             </span>
            <!-- DateTime -->
            <span class="text-white me-1 pb-1" style="font-size: 15px">
              {{ app.date }}
              <br><span style="font-size: 10px;"><ion-icon name="time-outline"></ion-icon> {{ app.time}}</span>
            </span>

            <!-- Services -->
            <div class="mt-2 mb-3 scroll-container">
              <div *ngFor="let services of app.services">
                <div class="m-0">
                  <span class="text-white" style="font-size: 13px">{{services.title }}</span>
                </div>
              </div>
            </div>

            <!-- Emp and Price -->
            <div class="d-flex align-items-center flex-wrap d-grid gap-2">
              <div class="d-flex align-items-center me-5 me-xl-13">
                <div class="symbol symbol-30px symbol-circle me-3">
                  <img src="{{ app.empAvatar }}" width="40px" style="border-radius: 50%" />
                </div>
                <div class="m-0">
                  <span class="text-white d-block" style="font-size: 12px"> {{ 'global.emp' | translate}}</span>
                  <span class="text-white" style="font-size: 12px">
                    {{ app.empInfo }}
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-30px symbol-circle me-3">
                    <ion-icon name="cash-outline" size="large" color="success"></ion-icon>
                  </div>
                </div>
                <div class="m-0">
                  <span class="text-white d-block" style="font-size: 12px">
                    {{ 'global.price' | translate }}
                  </span>
                  <span class="text-white" style="font-size: 12px">
                    {{ app.price }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- Tabs Footer -->
<ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button routerLink="/dashboard">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="calendar-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/account">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
