<!-- Header -->
<ion-header>
  <ion-toolbar color="dark">
    <img class="ms-2 me-2" src="data:image/png;base64,{{ companyInfo.avatar }}" alt="logo" width="30px" height="30px" />
    <ion-title>{{ 'tabPanel.home' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Button Create  -->
    <div class="text-end ms-2 me-2 mt-2 mb-2">
      <button class="btn btn-primary btn-lg border-0  w-100" style="background-color: #009abe">
        {{'global.btn_create_appointment' | translate }}
      </button>
    </div>

    <!-- Upcoming Appointments -->
    <div class="row">
      <div class="col-12" *ngFor="let appointment of upcomingAppointments">
        <div class="card mb-2 ms-2 me-2 border-0" >
          <div class="card-body border-0" style="background-color: #222428; border-radius: 3%;">
            <div class="d-flex flex-column h-100">
              {{ appointment.appointmentID }}
              <span class="text-white me-1 pb-1" style="font-size: 15px">
                {{ appointment.appointmentID }}
               </span>
              <!-- DateTime -->
              <span class="text-white me-1 pb-1" style="font-size: 15px">
                {{ appointment.date }}
                <br><span style="font-size: 10px;"><ion-icon name="time-outline"></ion-icon> {{ appointment.time}}</span>
              </span>

              <!-- Services -->
              <div class="mt-2 mb-3 scroll-container">
                <div *ngFor="let services of appointment.services">
                  <div class="m-0">
                    <span class="text-white" style="font-size: 13px">{{services.title }}</span>
                  </div>
                </div>
              </div>

              <!-- Emp and Price -->
              <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                <div class="d-flex align-items-center me-5 me-xl-13">
                  <div class="symbol symbol-30px symbol-circle me-3">
                    <img src="{{ appointment.empAvatar }}" width="40px" style="border-radius: 50%" />
                  </div>
                  <div class="m-0">
                    <span class="text-white d-block" style="font-size: 12px"> {{ 'global.emp' | translate}}</span>
                    <span class="text-white" style="font-size: 12px">
                      {{ appointment.empInfo }}
                    </span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="symbol symbol-30px symbol-circle me-3">
                      <ion-icon name="cash-outline" size="large" color="success"></ion-icon>
                    </div>
                  </div>
                  <div class="m-0">
                    <span class="text-white d-block" style="font-size: 12px">
                      {{ 'global.price' | translate }}
                    </span>
                    <span class="text-white" style="font-size: 12px">
                      {{ appointment.price }}
                    </span>
                  </div>
                </div>
              </div>
              <!-- Cancel Appointment -->
              <button class="mt-3 btn btn-danger btn w-100 border-0" (click)="cancelAppointment(appointment.appointmentID)" style="background-color: #BA372F;">
                {{'global.btn_cancel' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

</ion-content>

<!-- Tabs Footer -->
<ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button>
    <ion-icon name="home-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/appointment">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/account">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
