<ion-header>
  <ion-toolbar>
    <img src="assets/img/logo.png" alt="logo" width="150px" height="30px">
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Button Create  -->
  <div class="text-end ms-1 me-1 mt-2 mb-2">
    <button class="btn btn-primary btn-lg border-0" style="background-color: #009abe">
      <ion-icon name="calendar-outline"></ion-icon> {{
      'global.btn_create_appointment' | translate }}
    </button>
  </div>

  <!-- Upcoming Appointments -->
  <div *ngFor="let appointment of upcomingAppointments">
    <div class="card mb-1 me-2 ms-2">
      <div class="card-body">
        <div class="row gx-9 h-100">
          <div class="col-12">
            <div class="d-flex flex-column h-100">
              <!-- Date -->
              <div class="flex-shrink-0 me-5 mb-2">
                <span class="text-gray-800 fs-7 me-2 d-block lh-1 pb-1">
                  {{ appointment.date }} {{ appointment.time}}
                </span>
              </div>
              <div class="mb-3 scroll-container">
                <div *ngFor="let services of appointment.services">
                  <div class="align-items-center d-grid gap-2">
                    <div class="align-items-center me-5 me-xl-13">
                        <span class="fs-7">{{services.title }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center flex-wrap d-grid gap-2 mb-3">
                <!-- Employee -->
                <div class="d-flex align-items-center me-5 me-xl-13">
                  <div class="symbol symbol-30px symbol-circle me-3">
                    <img
                      src="data:image/png;base64,{{ appointment.empAvatar }}"
                      alt="Employee Avatar"
                      width="50px"
                      style="border-radius: 50%"
                    />
                  </div>
                  <div class="m-0">
                    <span class="text-gray-400 d-block fs-7">
                      {{ 'global.emp' | translate }}
                    </span>
                    <span class="text-gray-800 fs-7">
                      {{ appointment.empInfo[0].name }}
                    </span>
                  </div>
                </div>
                <!-- Price -->
                <div class="d-flex align-items-center ">
                  <div class="m-0">
                    <span class="text-gray-400 d-block fs-8">
                      {{ 'global.price' | translate }}
                    </span>
                    <span class="text-gray-800 fs-7">
                      {{ appointment.price }}
                    </span>
                  </div>
                </div>
              </div>

              <button class="btn btn-danger w-100" (click)="cancelAppointment(appointment.appointmentID)">Cancel</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="home-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="account">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>




